// ボタン四隅枠画像の大きさ（縦横同じ）
$size-waku: 15px;

.button {
    display: inline-block;
    padding: 6px 6px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
	text-align: center;
	background: url(/dist/images/waku-01.png) left top / $size-waku $size-waku no-repeat , url(/dist/images/waku-02.png) right top / $size-waku $size-waku no-repeat ,url(/dist/images/waku-03.png) left bottom / $size-waku $size-waku no-repeat ,url(/dist/images/waku-04.png) right bottom / $size-waku $size-waku no-repeat;
	position: relative;
    cursor: pointer;

    & span {
        background-color: #fff;
        display: inline-block;
        padding: 20px 100px;
        font-weight: bold;
        &:hover {
            background-color: #f7f1ad;
            transition: all .2s;
            text-decoration: none;
        }

        @include mq-sp {
            padding: 10px 50px;
            font-size: .8rem;
        }
    }
}
