.button {
    display: inline-block;
    padding: 6px 6px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
	text-align: center;
	background: url(/dist/images/waku-01.png) left top / 15px 15px no-repeat , url(/dist/images/waku-02.png) right top / 15px 15px no-repeat ,url(/dist/images/waku-03.png) left bottom / 15px 15px no-repeat ,url(/dist/images/waku-04.png) right bottom / 15px 15px no-repeat;
	position: relative;

    & span {
        background-color: #fff;
        display: inline-block;
        padding: 24px 120px;
        &:hover {
            background-color: #f7f1ad;
            transition: all .2s;
            text-decoration: none;
        }
    }
}
