.contactForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;

    & dl {
        display: flex;
        flex-wrap: wrap;
    }
    & dt {
        width: 250px;
        text-align: left;
        padding: 20px;
        font-family: 'ヒラギノ角ゴ ProN W3';
        font-size: 0.8rem;
        @include mq-sp {
            padding: 0;
            margin-left: 40px;
        }

        & span {
            margin-left: 15px;
        }
    }
    & dd {
        width: 550px;
        text-align: left;
        padding: 10px 0;
        margin-inline-start: 0;
        margin-left: 0;
        @include mq-sp {
            text-align: center;
        }

        & input, textarea {
            width: 100%;
            border: 0;
            padding: 10px;
            @include mq-sp {
                width: 80%;
            }
        }
    }
    & .button {
        margin-top: 40px;
    }
}