.contactForm {
    max-width: $form-width;
    margin: 0 auto;
    padding: 20px 0;

    & dl {
        display: flex;
        flex-wrap: wrap;
    }
    & dt {
        width: $form-width * 0.3;
        text-align: left;
        padding: 20px;
        font-family: 'ヒラギノ角ゴ ProN W3';
        font-size: 0.8rem;
        @include mq-form {
            width: 80%;
            padding: 0;
            margin: 0 auto;
        }

        & span {
            margin-left: 15px;
        }
    }
    & dd {
        width: $form-width * 0.7;
        text-align: left;
        padding: 10px 0;
        margin-inline-start: 0;
        margin-left: 0;
        @include mq-form {
            width: 80%;
            padding: 0;
            margin: 0 auto;
        }

        & input, textarea {
            width: 80%;
            border: 0;
            padding: 10px;
            @include mq-form {
                width: 100%;
                padding: 5px;
                margin: 5px 0 15px;
            }
        }
    }
    & .button {
        margin-top: 40px;
        @include mq-form {
            margin-top: 0;
        }
    }
}