.contactForm {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;

    & dl {
        display: flex;
        flex-wrap: wrap;
    }
    & dt {
        width: 300px;
        text-align: left;
        padding: 20px;

        & span {
            margin-left: 30px;
        }
    }
    & dd {
        width: 700px;
        text-align: left;
        padding: 10px 0;
        margin-inline-start: 0;
        margin-left: 0;

        & input, textarea {
            width: 100%;
            border: 0;
            padding: 10px;
        }
    }
    & .button {
        margin-top: 40px;
    }
}