.About {
    display: flex;
    position: relative;

    &__sub {
        flex: 1 1 35%;
    }
    &__main {
        flex: 1 1 65%;
        justify-content: flex-end;
        background-color: $color-sub;
    }
    &__head {
        padding-top: 50px;
        padding-left: 100px;
    }
    &__body {
        padding-left: 100px;
    }
    &__foot {
        text-align: center;
        padding-bottom: 30px;
        & i {
            padding: 20px 35px;
        }
    }

    &__thumb {
        display: block;
        position: absolute;
        top: -50px;
        width: 580px;
        height: 400px;
        background-color: gray;
    }

    &__name {
        padding-top: 20px;
        margin-bottom: 30px;
        font-family: 'ヒラギノ角ゴ ProN W6';
    }
    &__profile {
        margin-bottom: 30px;
        font-family: 'ヒラギノ角ゴ ProN W3';
    }
    .fab {
        font-size: 40px;
        color: gray;
    }

}