.About {
    display: flex;
    position: relative;
    font-size: 0.8rem;

    &__sub {
        flex: 1 1 35%;
    }
    &__main {
        flex: 1 1 65%;
        justify-content: flex-end;
        background-color: $color-sub;
    }
    &__head {
        padding-top: 50px;
        padding-left: 120px;
    }
    &__body {
        padding-left: 120px;
    }
    &__foot {
        text-align: center;
        padding: 40px 0 60px;
        & i {
            padding: 0 25px;
        }
    }

    &__thumb {
        display: block;
        position: absolute;
        top: -50px;
        width: 40%;
        max-width: 455px;
        height: auto;
        background-color: gray;
    }

    &__name {
        padding-top: 20px;
        margin-bottom: 30px;
        font-family: 'ヒラギノ角ゴ ProN W6';
        line-height: 25px;
        font-weight: 600;
    }
    &__profile {
        margin-bottom: 25px;
        font-family: 'ヒラギノ角ゴ ProN W3';
        line-height: 25px;
    }
    .fab {
        font-size: 30px;
        color: gray;
    }

}