@import "./parts/_contactForm";

.Contact {
    text-align: center;
    background-color: $color-sub;

    &__head {
        position: relative;
        padding-top: 50px;

        & .title {
            position: absolute;
            top: -20px;
            right: 0;
            left: 0;
        }
    }
    &__body {
        padding-bottom: 50px;
    }
}