.KeyVisual {
    height: 600px;
    position: relative;

    &__title {
        text-indent:100%;
        white-space:nowrap;
        overflow:hidden;
    }

    &__box {
        position: absolute;
        width: 500px;
        height: 500px;
        right: 0;
        background-color: $color-sub;
    }
}