.Portfolio {
    display: flex;
    flex-flow: row-reverse;
    @include mq-sp {
        display: block;
    }

    &__head {
        flex: 1 1 30%;
        text-align: right;
        padding-top: 65px;
    }
    &__body {
        flex: 1 1 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include mq-sp {
            margin-top: 50px;
            padding: 0 10px;
        }
    }
    &__foot {
        margin-top: 30px;
        text-align: center;
    }
    &__item {
        margin-right: 30px;
        margin-bottom: 70px;
        letter-spacing: 5px;
        @include mq-sp {
            flex: 1 1 50%;
            letter-spacing: 1px;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    &__thumb {
        display: block;
        background-color: $color-sub;
        max-width: 220px;
        width: 100%;
        height: auto;
        @include mq-sp {
            width: 90%;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: 0.9rem;
        margin-top: 20px;
        @include mq-sp {
            //font-size: 0.5rem;
            margin-top: 5px;
            text-align: center;
        }
    }
}

.more {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display:inline-block;
    vertical-align: middle;
    @include mq-sp {
        font-size: 0.9rem;
    }

    &::after {
        content: '';
        display:inline-block;
        width: 100px;
        height: 25px;
        background: url(/dist/images/yajirushi.jpg) no-repeat;
        background-size: contain;
        margin-left: 25px;
        @include mq-sp {
            width: 60px;
            height: 15px;
            margin-left: 15px;
        }
    } 
}