.Portfolio {
    display: flex;
    flex-flow: row-reverse;

    &__head {
        flex: 1 1 25%;
    }
    &__body {
        flex: 1 1 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &__foot {
        margin-top: 30px;
        text-align: center;
    }
    &__item {
        margin-right: 30px;
        margin-bottom: 80px;
        letter-spacing: 5px;
        /*
        &:last-child {
            margin-right: 0;
        }
        */
    }
    &__thumb {
        display: block;
        background-color: $color-sub;
        max-width: 250px;
        width: 100%;
        height: auto;
    }
    &__title {
        margin-top: 25px;
    }
}

.more {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display:inline-block;
    vertical-align: middle;

    &::after {
        content: '';
        display:inline-block;
        width: 100px;
        height: 25px;
        background: url(/dist/images/yajirushi.jpg) no-repeat;
        background-size: contain;
        margin-left: 25px;
        //border: 1px solid gray;
    } 
}