@import "./lib/sanitize";

:root, html, body {
    font-family: 'Raleway', sans-serif;
    color: $color-main-text;
    width: 100%;
    letter-spacing: 1px;
    @include mq-sp {
    }
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: $color-main-text;
    text-decoration: none;
}

a:hover {
    color: $color-link;
}

h2 {
    margin: 0;
}